.overlay {
    background-color: rgba( 0, 0, 0, 0.7 );
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
}
.modal {
    width: 300px;
    height: 110px;
    background-color: white;
    border-radius: 5px;
    margin-top: -55px;
    margin-left: -150px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 50px 0px rgba( 0, 0, 0, 0.7 );
}
.modal label {
    float: none;
    width: auto;
}
.modal form {
}
.modal a.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
}
