#accountmanagement {
    position: absolute;
    right: 5px;
    top: 30px;
    background-color: white;
    border: 1px solid #ccc;
    border-top-style: none;
    box-shadow: 0 0 4px rgba( 0, 0, 0, 0.4 );
    display: none;
}
#accountmanagement .details {
    padding: 15px;
}
.signout {
    padding: 15px 15px 15px 10px;
    margin: 5px 0 0 0;
    border-top: 1px solid #eee;
}
#accountmanagement a {
    padding: 7px;
}
#accountmanagement a:hover {
    background-color: #eff3fb;
}
a#account {
    color: #ccc;
    text-decoration: none;
    font-size: 110%;
    float: right;
    padding: 6px 8px;
    margin-right: 6px;
    z-index: 5;
    display: block;
    position: relative;
}
a#account.active {
    background-color: white;
    color: #333;
}
#topbar a#account.active:hover {
    background-color: white;
}
#topbar a:hover {
    background-color: #4c4c4c;
}
#topbar {
    background: #2d2d2d;
}
#topbar .options {
    padding: 3px;
    float: left;
}
#signoutform {
    display: none;
}
